@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }

  .line-between-element::after,
  .line-between-element::before {
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .line-between-element::after {
    margin-right: -50%;
    left: 0.5em;
  }

  .line-between-element::before {
    margin-left: -50%;
    right: 0.5em;
  }
}

html,
body {
  background: linear-gradient(
    180deg,
    hsla(327, 53%, 97%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f87171;
  border: 0px none #ffffff;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}
::-webkit-scrollbar-thumb:active {
  background: #fca5a5;
}
::-webkit-scrollbar-track {
  background: #c2c2c2;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #c2c2c2;
}
::-webkit-scrollbar-track:active {
  background: #c2c2c2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-block::-webkit-scrollbar {
  display: block;
}
